html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }
.colapse{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0; 
}


/*NAVIGATION*/
#nav-list {
    padding-top: 12px;
    list-style-type: none;
}
.nav-item {
    float: right;
    display: inline;
    margin-right: 50px;
}
.nav-link {
    font-weight: bold;
    font-size: 18px;
    color: rgb(23, 23, 23);
    text-decoration: none;
}
.nav-link:hover {
    color: #0043B8;
}
.nav-link-current{
    font-weight: 100;
    font-size: 18px;
    font-weight: bold;
    color: #0043B8;
    text-decoration: underline;
}
.nav-logo {
    padding-top: 5px;
    padding-left: 50px;
    float: left;
}
.nav-logo img:hover {
    filter: brightness(115%);
}
#nav-hr{
    clear: both;
    color: rgb(0, 0, 0);
    height: 1px;
    border: none;
    background-color: rgb(187, 187, 198);
    margin-bottom: 0;
}
#nav{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    min-width: 800px;
}


/*HEADER*/
#header-img{
    height: auto;
    width: 100%;
}
.header {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}
.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#header-1 {
    font-size: 50px;
    color: white;

}
#header-2 {
    font-size: 90px;
    color: white;
    margin: 0; 
}
.header-link{
    display: inline-block;
}
#link-intro {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 25px;
    padding-right:25px;
    margin-right: 15px;
    background-color: #126fe0;
    color: white;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-intro:hover {
    background-color: #0f81e6;
}
#link-next-page {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
    margin-right: 15px;
    background-color:white;
    color:  #126fe0;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-next-page:hover {
    background-color:   #126fe0;
    color:white;
}
/*MAIN*/
.main{
    min-height: 100%;
}

/*Introduction*/
#introduction{
    position: relative;
    height: 700px;
}
.intro-caption{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
    width: 600px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(186, 185, 185);
}
.intro-content{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 30px;
    width: 600px;
    font-size: 20px;
    color: rgb(101, 101, 101);
}
.intro-grid-list{
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    display: flex;
    flex-wrap: nowrap;
}
.grid{
    width: 33.33%;
    margin: 25px;
    text-align: center;
}
.grid-img:hover {
    filter: brightness(120%);
}
.grid-caption{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 5px;
}
.grid-content{
    margin-top: 0;
    color: rgb(101, 101, 101);
    font-size: 20px;
}
.grid-link{
    text-decoration:none;
    background-color: white;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
    font-size:19px;
    color: #0043B8;
    transition: all .2s ease-in-out;
    border: #0043B8 solid 1px;
    border-radius: 5px;
}
.grid-link:hover {
    background-color: #0043B8;
    color: white;
    padding-left: 35px;
    padding-right: 25px;
}

/*from author*/
.from-author {
    width: 80%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
    overflow: auto;
}
.from-author img {
    float: left;
    padding: 15px;
}
.from-author .content {
    padding-top: 15px;
}
.from-author a {
    display: inline;
}
.content .caption {
    font-size: 35px;
    white-space: 15px;
}
.content p {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}
.link-list {
    margin-top: 40px;
    width: 100%;
}
#link-team {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 20px;
    padding-right:20px;
    margin-right: 15px;
    background-color: #126fe0;
    color: white;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-team:hover {
    background-color: #0f81e6;
}
#link-continue {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 20px;
    padding-right:20px;
    margin-right: 15px;
    background-color:white;
    color:  #126fe0;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-continue:hover {
    background-color:   #126fe0;
    color:white;
}

/*Member*/
.team-member{
    position: relative;
    height: 700px;
}
.member-box {
    position: absolute;
    top:200px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}
.member-box .member  {
    width: 25%;
    margin: 15px;
    text-align: center;
    background-color: #F5F5F5;
    border: #dddbdb solid 0.5px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
.member-box .member:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.member-caption{
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 400px;
    margin-bottom: 0;
    text-align: center;
    font-size: 50px;
    border-bottom: black solid 3px;
}
.member-contact{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
    border-top: #dddbdb solid 0.5px;
    padding-top: 20px;
    padding-bottom: 2px;
}
.member-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.member-name{
    font-weight: lighter;
    font-size: 25px;
    margin: 7px;
}
.member-id{
    font-weight: lighter;
    margin: 5px;
    color: #999999;
}
.member-link{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    background-color:transparent;
    border: #0044BB 1px solid;
    color: #0044BB;
    font-size: 18px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.member-link:hover{
    background-color: #0044BB;
    color: white;
}

/*Source code*/
.source-code{
    padding-top: 10px;
    position: relative;
    height: 180px;
    left: 10%;
}
.source-code-caption{
    position: absolute;
    top: 0;
    width: fit-content;
    font-size: 35px;
    text-align: center;
    margin-left: 15px;
    border-bottom: black solid 2px ;
}
.source-code-paragraph{
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    font-size: 25px;
    color: rgb(101, 101, 101);
}
.source-code a{
    color: blue;
}
.source-code a:hover{
    color:red;
}


/*FOOTER*/
.footer {
    background-color: #080229;
    color: #6C6C72;
    height: 270px;
    position: relative;
}

.footer-content {
    height: auto;
    position: relative;
}

.footer-label {
    color: white;
    text-align: left;
    padding-right: 80px;
    padding-bottom: 10px;
    border-bottom:#6C6C72 1px solid;
}

.footer-section-links{
    position: absolute;
    top: 0;
    left: 15%;
}

.footer-section-authors{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-section-contacts {
    position: absolute;
    top: 0;
    right: 15%;
}
.footer-bottom {
    background-color:#0D0633;
    color: #6C6C72;
    height:32px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 3px;
    padding-top: 3px;

}
.footer-link {
    color: #6C6C72;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.footer-icon {
    margin-left: 15px;
    text-decoration: none;
}

.footer-img {
    border-radius: 50%;
    filter: opacity(30%);
    width: 35px;
}

.footer-img:hover {
    filter: opacity(100%);
}
