html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-width: 1000px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 }
.colapse{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
    width: 900px; 
}
/*NAVIGATION*/

#nav-list {
    padding-top: 12px;
    list-style-type: none;
}
.nav-item {
    float: right;
    display: inline;
    margin-right: 50px;
}
.nav-link {
    font-weight: bold;
    font-size: 18px;
    color: rgb(23, 23, 23);
    text-decoration: none;
}
.nav-link:hover {
    color: #0043B8;
}
.nav-link-current{
    font-weight: 100;
    font-size: 18px;
    font-weight: bold;
    color: #0043B8;
    text-decoration: underline;
}
.nav-logo {
    padding-top: 5px;
    padding-left: 50px;
    float: left;
}
.nav-logo img:hover {
    filter: brightness(115%);
}
#nav-hr{
    clear: both;
    color: rgb(0, 0, 0);
    height: 1px;
    border: none;
    background-color: rgb(187, 187, 198);
    margin-bottom: 0;
}
#nav{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    min-width: 800px;
}

/*HEADER*/
#header-img{
    height: auto;
    width: 100%;
}
.header {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}
.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#header-h3{
    font-size: 75px;
    color: white;
    margin: 0;
}
.header-link{
    display: inline-block;
}
#link-last-page {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 25px;
    padding-right:25px;
    margin-right: 15px;
    background-color: #126fe0;
    color: white;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-last-page:hover {
    background-color: #0f81e6;
}
#link-next-page {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
    margin-right: 15px;
    background-color:white;
    color:  #126fe0;
    border:  #126fe0 2px solid;
    width: auto;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
#link-next-page:hover {
    background-color:   #126fe0;
    color:white;
}
/*MAIN*/
.main{
    min-height: 100%;
}
/*content*/
.col {
    width: 800px;
    margin: auto;
}
.col-caption{
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
    color: black;
    margin-top: 60px;
    margin-bottom: 60px;
}
.period {
    margin-top: 30px;
    margin-bottom: 20px;
}
.period-caption {
    position: relative;
    width: 800px;
    height: 52px;
}
.caption-1 {
    text-align: center;
    position: absolute;
    left: 0;
    width: 70px;
    margin: 0;
    background-color: #0f81e6;
    color: white;
    font-size: 12px;
    padding: 5px;
}
.o-number {
    font-size: 22px;
}
.caption-2 {
    position: absolute;
    left: 70px;
    padding: 11.5px;
    width: 730px;
    margin: 0;
    background-color: #F6F5F4;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.period-content {
    margin-left: 10px;
}
.period-content p {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    text-indent: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content-list {
    list-style-type: disc;
}
.content-list-item {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
}
.content-img {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 50px;
}
p:last-of-type {
    margin-bottom: 50px;
}

/*last/next page*/
.last-next-page {
    position: relative;
    height: 100px;
    width: 800px;
    margin: auto;
}
.last-next-page a {
    position: absolute;
    text-decoration: none;
    border: #0043B8 1px solid;
    border-radius: 5px;
    background-color: #0043B8;
    color: white;
    padding: 8px 16px;
    top: 0;
    transform: translateY(50%);
    transition: all .2s ease-in-out;
}
.last-next-page a:hover {
    top: -4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.previous {
    left: 0;
}
.next {
    right: 0;
}

/*FOOTER*/
.footer {
    background-color: #080229;
    color: #6C6C72;
    height: 270px;
    position: relative;
}

.footer .footer-content {
    height: auto;
    position: relative;
}

.footer .footer-label {
    color: white;
    text-align: left;
    padding-right: 80px;
    padding-bottom: 10px;
    border-bottom:#6C6C72 1px solid;
}

.footer .footer-section-links{
    position: absolute;
    top: 0;
    left: 15%;
}

.footer .footer-section-authors{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer .footer-section-contacts {
    position: absolute;
    top: 0;
    right: 15%;
}
.footer .footer-bottom {
    background-color:#0D0633;
    color: #6C6C72;
    height:32px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 3px;
    padding-top: 3px;

}
.footer-link {
    color: #6C6C72;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.footer-icon {
    margin-left: 15px;
    text-decoration: none;
}

.footer-img {
    border-radius: 50%;
    filter: opacity(30%);
    width: 35px;
}

.footer-img:hover {
    filter: opacity(100%);
}
